@model ContainerAddViewModel

<div class="card">
    <div class="card-header">
        <h4 class="text-uppercase">Create Container</h4>
    </div>
    <div class="card-body">
        <form asp-action="CreateContainer">
            <input asp-for="PageId" hidden="hidden" />
            <input asp-for="Column" hidden="hidden" />
            <div class="form-group">
                <label asp-for="Title" class="label-control"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="label-control"></label>
                <textarea id="editor" asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="label-control"></label>
                <select asp-for="Type" class="form-control">
                    <option value="container">Default</option>
                    <option value="credit">Credit</option>
                    <option value="hc">Habbo Club</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Theme" class="label-control"></label>
                <select asp-for="Theme" class="form-control">
                    <option>v2box-red-light</option>
                    <option>v2box-red-darker</option>
                    <option>v2box-red-darkest</option>
                    <option>v2box-blue-light</option>
                    <option>v2box-blue-darker</option>
                    <option>v2box-blue-darkest</option>
                    <option>v2box-green-light</option>
                    <option>v2box-green-darker</option>
                    <option>v2box-green-darkest</option>
                    <option>v2box-brown-light</option>
                    <option>v2box-brown-darker</option>
                    <option>v2box-brown-darkest</option>
                    <option>v2box-light-alert</option>
                    <option>v2box-darker-alert</option>
                    <option>v2box-darkest-alert</option>
                    <option>maskbox-snow-light</option>
                    <option>maskbox-snow-darker</option>
                    <option>maskbox-snow-darkest</option>
                    <option>maskbox-xmas-light</option>
                    <option>maskbox-xmas-darker</option>
                    <option>maskbox-xmas-darkest</option>
                    <option>v3box-darkgrey</option>
                    <option>v3box-black</option>
                    <option>v3box-yellow</option>
                    <option>v3box-orange</option>
                    <option>v3box-blue</option>
                    <option>portlet-film</option>
                    <option>portlet-goldenfilm</option>
                    <option>nobox</option>
                    <option>portlet-scale</option>
                    <option>content-white-outer</option>

                </select>
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hidden" class="label-control"></label>
                <input asp-for="Hidden" class="form-control" />
                <span asp-validation-for="Hidden" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script src="~/housekeeping/js/tinymce/tinymce.min.js"></script>
    <script src="~/housekeeping/js/tinymce/jquery.tinymce.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#editor').tinymce({
                relative_urls: false,
                convert_urls: false,
                remove_script_host: false,
                forced_root_block: '',
                force_br_newlines: true,
                force_p_newlines: false,
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table paste imagetools wordcount"
                ]});
        });
    </script>
}