	
  <div style="height: 4px;"></div>
  <div style="height: 18px; padding: 0 0 0 12px;">&nbsp;</div>	
  <div class="portlet">
   <div class="portlet-top-process"><div class="portlet-process-header">&nbsp;</div></div>
   <div class="portlet-body-process">
   <div class="imaindiv">
<form method="post" action="go">
    <input type="hidden" name="sid" value="50">
<table border="0" cellspacing="0" cellpadding="0" class="ihead">
 <tr>
  <td class="icon"><img src="/images/iot/header_images/Western2/pass.gif" alt=" " width="47" height="37"/></td>
  <td class="text"><h2>Kontakt Habbo Staff</h2>
   </td>
 </tr>
</table>
<br>

<table border="0" cellspacing="0" cellpadding="0" class="content-table">
 <tr>
  <td>
   <div class="iinfodiv">
    Du kan skrive en besked til Habbo staff nedenfor.<br/><strong></strong><br/><br/>
    <label for="email">E-mail</label>
    <input id="email" class="imessageinput" name="email" />
    <label for="message">Message</label>
    <textarea id="message" class="imessageform" name="message"></textarea>
   </div>
  <br>
   <div align="center">
   <table height="21" border="0" cellpadding="0" cellspacing="0" class="button">
    <tr><td class="button-left-side"></td><td class="middle"><button type="submit" name="submit" class="proceedbutton">Søg i FAQ</button></td><td class="button-right-side-arrow"></td></tr>
   </table>
   </div>
 <br>
  <div class="iinfodiv">
  
  <a href="?event=Continue&amp;sid=50">Email os</a><br>
  </div>
  </td>
 </tr>
</table>
</form>
   </div>
   </div>
   <div class="portlet-bottom-process"></div>
  </div>
