<meta name="color-scheme" content="light">
<meta name="supported-color-schemes" content="light">
<style type="text/css">
   :root {
     color-scheme: light;
     supported-color-schemes: light;
   }
   * {
   image-rendering: optimizeSpeed;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges;
   image-rendering: -webkit-optimize-contrast;
   image-rendering: pixelated;
   image-rendering: optimize-contrast;
   -ms-interpolation-mode: nearest-neighbor;
   }      
   html, body           { 
   margin:0px;     
   padding:0p x;
   }   
</style>
<table  
   background="http://images.habbo.com/c_images/album528/bg_new_website.gif"
   width="100%" height="100%" cellpadding="0"
   bgcolor="rgb(51, 51, 51)" >
   <tbody>
      <tr>
         <td valign="top">
            <p></p>
            <table 
               background="http://images.habbo.com/c_images/album528/bg_new_website.gif"
               width="576"
               cellspacing="0" cellpadding="0" border="0" style="margin:20px 20px 20px 40px">
               <tbody>
                  <tr>
                     <td width="576" height="20" colspan="4" style="margin:0px">
                        <p style="font-size: 11px; color:  font-family: verdana; padding-left: 10px;"
                           data-ogsc="black">Tilføj denne adresse til din adressebog, for at sikre dig, at du
                           modtager vores e-mails!
                        </p>
                     </td>
                  </tr>
                  <tr>
                     <td 
                        background="http://images.habbo.com/c_images/headers/email_top_entrance.gif"
                        width="576" height="79" colspan="4" style="margin:0px"></td>
                  </tr>
                  <tr>
                     <td 
                        background="http://images.habbo.com/c_images/album2015/outline.gif"
                        width="5"></td>
                     <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" bg="ffffff">
                           <tbody>
                              <tr>
                                 <td width="7"></td>
                                 <td width="552" valign="bottom" height="16"><img style="display:block" src="http://images.habbo.com/c_images/album699/disclaimer_top.gif"
                                    width="552" height="7"></td>
                                 <td width="7"></td>
                              </tr>
                              <tr>
                                 <td width="7"></td>
                                 <td width="552" bgcolor="#ffffff"
                                    >
                                    @RenderBody()
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                     <td 
                        background="http://images.habbo.com/c_images/album1950/outline.gif"
                        width="5"></td>
                  </tr>
                  <tr>
                     <td 
                        background="http://images.habbo.com/c_images/album528/bg_new_website.gif"
                        width="576" valign="top" height="12" bgcolor="#ffffff" colspan="4"  ><img
                        src="http://images.habbo.com/c_images/album699/email_bottom.gif"
                        ></td>
                  </tr>
                  <tr>
                     <td colspan="4" style="padding-left:10px">
                        <p
                           style="margin:0px; padding:10px 0px; text-align:center; font-size:9px; font-family:verdana,times,'times new roman'">
                           Denne e-mail er blevet sendt til dig fra Habbo Hotel (<a
                              href="http://www.habbo.dk/?utm_source=habbo&amp;utm_medium=email&amp;utm_campaign=newsletter_march"
                              target="_blank" rel="noopener noreferrer">www.habbo.dk</a>).
                           Hvis du fremover ikke ønsker at modtage nyheder om opdateringer, seje kampagner og
                           andet sjovt, skal du klikke <a
                              href="http://www.habbo.dk/email/marketing_off?email=Patrick-wohlk%40hotmail.com&amp;hash=00f2f9226f001abd989221e4a286f4f78e1ae173"
                              target="_blank" rel="noopener noreferrer">her</a>. En bruger af Habbo Hotel er
                           tilmeldt vores service med denne e-mail-adresse. Hvis du ikke har tilmeldt dig Habbo Hotel og
                           har modtaget denne besked ved en fejl, kan du fjerne din e-mail-adresse ved at
                           klikke <a
                              href="http://www.habbo.dk/identity/report_unauthorized_usage?email=Patrick-wohlk%40hotmail.com&amp;hash=6d19651f8142576d1bd4234aedfaf654bb211a99"
                              target="_blank" rel="noopener noreferrer" 
                              ">her</a>.<br aria-hidden="true"><br
                              aria-hidden="true">Svar til denne e-mail vil ikke blive behandlede.<br
                              aria-hidden="true"><br aria-hidden="true"><a
                              href="http://www.habbo.dk/?utm_source=habbo&amp;utm_medium=email&amp;utm_campaign=newsletter_march"
                              target="_blank" rel="noopener noreferrer">http://www.habbo.dk</a>
                           || <a href="http://www.sulake.com?
                              utm_source=email&amp;utm_medium=email&amp;utm_campaign=fullchat" target="_blank" rel="noopener noreferrer"
                              style="color: rgb(228, 159, 255) !important;">http://www.sulake.com</a><br
                              aria-hidden="true">Sulake | Porkkalankatu 1 | 00810 Helsinki, Finland
                        </p>
                     </td>
                  </tr>
               </tbody>
            </table>
            <p></p>
         </td>
      </tr>
   </tbody>
</table>
