<div id="footer">
    <div id="footer-top">
        <div id="footer-content">
            @Html.Raw(DbRes.T("footer", "shared"))
            
            <p class="footer-legal">@Html.Raw(DbRes.T("footer_legal", "shared"))</p>
        </div>
    </div>
    <div id="footer-bottom"><div id="footer-bottom-content"></div></div>
</div>