@using KeplerCMS.Areas.Housekeeping.Helpers
@model KeplerCMS.Areas.Housekeeping.Models.Views.HousekeepingMenuItem

@if (HousekeepingAccess.HasAccess(Model.UserFuses, Model.Fuses))
{
    <li @(Model.IsActive ? "class=active" : "")>
        <a href="@Model.Url">@Model.Title</a>
    </li>
}