@using KeplerCMS.Areas.Housekeeping.Helpers
@using KeplerCMS.Areas.Housekeeping.Models.Enums
@model KeplerCMS.Areas.Housekeeping.Models.Views.HousekeepingMenuItemModel

@if (HousekeepingAccess.HasAccess(Model?.UserFuses, Model.Fuses))
{
    <li @(Model.IsActive ? "class=active" : "")>
        <a href="@Model.Url">@Model.Name</a>
    </li>
}