@{
    Layout = "_Register";
    ViewData["Title"] = DbRes.T("orange_box_header", "resetpassword");
}

<div>
    <div class="content-ok">
        <div class="content-ok-body">
            @DbRes.T("password_reset_ok", "resetpassword")
            <div class="clear"></div>
        </div>
    </div>
    <div class="content-ok-bottom">
        <div class="content-ok-bottom-body"></div>
    </div>
</div>
