<td rowspan="2" style="width: 4px;"></td>

<td rowspan="2" valign="top" style=" margin-left: 4px; width: 176px;">
    <div id="ad_sidebar">
        <div class="cooperation">
            <table height="120" width="168" valign="middle" align="center" border="0" cellpadding="0" cellspacing="0" background="@Url.Content("~/c_images/themes/partner_box.gif")">
                <tbody>
                    <tr>
                        <td>
                            <!--Advertisement Box if as enabled-->

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Advertisement Right if as enabled-->
        <script type='text/javascript'>
            Ads_Right('@Url.Content("~/images/ads-scale/Habbohome_phold_160x600.gif")'); Links_Right.push('/hotel/homes');
        </script>
        <div class="ad-scale ad160">
            <table>
                <tbody>
                    <tr>
                        <td class="ad-header-tl"></td>
                        <td class="ad-header-t"></td>
                        <td class="ad-header-tr"></td>
                    </tr>
                    <tr>
                        <td class="ad-header-ml"></td>
                        <td class="ad-header-m">
                            <h5><span class="lang-Advertissement_Title">@DbRes.T("ad", "shared")</span></h5>
                        </td>
                        <td class="ad-header-mr"></td>
                    </tr>
                    <tr>
                        <td class="ad-content-ml"></td>
                        <td class="ad-content-m" align="center" valign="top">
                            <a href="#" target="_self" id="RightLink"><img style="width: 160px; height: 600px;" alt="" src="#" id="RightImage"></a>
                        </td>
                        <td class="ad-content-mr"></td>
                    </tr>
                    <tr>
                        <td class="ad-content-bl"></td>
                        <td class="ad-content-b"></td>
                        <td class="ad-content-br"></td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</td>
