/* general styles, site wide */

body {
	background-color: #083940;
	background-image: url(../images/bg_patterns/skull.gif);
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Verdana, Arial;	
}

a {
	color: #f16100;	
	font-weight: bold;
}


/* footer styles */

#footer {
    /*background: url(../images/nav/content_legal.gif) no-repeat;
	color: #7295aa;
	width: 928px;
	height: 71px;
	text-align: center;
	font-size: 9px;
	font-weight: bold;
	padding: 5px 0 5px 0;
	margin: 0;
	clear: both; */
	color: #7295aa;
	width: 928px;
	padding: 0 0 5px 0;
}

#footer-top {
    background-image: url(../images/content_bkg/content_legal_top.gif);
    background-repeat: no-repeat;
    width: 928px;
    height: 10px;
    padding: 0px;
    margin: 0px;
}

#footer-body {
    background-image: url(../images/content_bkg/content_legal_mid.gif);
    background-repeat: repeat-y;
    background-color: #fff;
    font-size: 9px;
    width: 912px;
    text-align: center;
    padding: 6px 8px 4px 8px;
}

#footer-bottom {
    background-image: url(../images/content_bkg/content_legal_bottom.gif);
    background-repeat: no-repeat;
    width: 928px;
    height: 14px;
    margin: 0;
    padding: 0;
}

#footer a {
	text-decoration: none;
	color: #7295aa;
}

#footer a:hover {
	color: #ffffff;
}


/* process popup window */

#main-content-process {
	background: url(../images/process/content_mid.gif) repeat-y;
	background-color: #47839d;
	width: 720px;
	padding: 0;
	margin: 0;
}

.portlet-top-process {
    background-image: url(../images/process/content_box_top.gif);
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    width: 720px;
    height: 25px;
    padding: 0px;
    margin: 0px;
}

.portlet-process-header {
    width: 698px; 
    height: 18px; 
    overflow: hidden; 
    padding: 7px 8px 0px 14px;
}

.portlet-body-process {
    background-image: url(../images/process/content_box_mid.gif);
    background-repeat: repeat-y;
    background-color: #fff;
    font-size: 12px;
    width: 698px;
    padding: 6px 8px 4px 14px;
    overflow: hidden;
}

.portlet-bottom-process {
    background-image: url(../images/process/content_box_btm.gif);
    background-repeat: no-repeat;
    width: 720px;
    height: 7px;
    margin: 0;
    padding: 0 0 3px 0;
}

#footer-process {
	color: #7295aa;
	width: 720px;
	padding: 0 0 5px 0;
}

#footer-top-process {
    background-image: url(../images/process/content_legal_top.gif);
    background-repeat: no-repeat;
    width: 720px;
    height: 10px;
    padding: 0px;
    margin: 0px;
}

#footer-body-process {
    background-image: url(../images/process/content_legal_mid.gif);
    background-repeat: repeat-y;
    background-color: #fff;
    font-size: 9px;
    width: 704px;
    text-align: center;
    padding: 6px 8px 4px 8px;
}

#footer-bottom-process {
    background-image: url(../images/process/content_legal_btm.gif);
    background-repeat: no-repeat;
    width: 720px;
    height: 14px;
    margin: 0;
    padding: 0;
}

#footer-process a {
	text-decoration: none;
	color: #7295aa;
}

#footer-process a:hover {
	color: #ffffff;
}


