@model KeplerCMS.Areas.MyHabbo.Models.ItemViewModel;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{Layout = null;}


@{
    if (Model.Item.Data == null)
    {
        <div id="traxplayer-content" style="text-align: center;"><img src="~/c_images/myhabbo/traxplayer/player.png" /></div>
    }
    else
    {
        <embed type="application/x-shockwave-flash" src="~/flash/trax/traxplayer.swf" name="traxplayer" quality="high" base="/flash/trax/" allowscriptaccess="always" menu="false" wmode="transparent" flashvars="songUrl=/trax/song/@(Model.Item.Data)&amp;sampleUrl=@(Configuration["traxUrl"])/" height="66" width="210">
    }
}
