@model KeplerCMS.Areas.MyHabbo.Models.ItemViewModel;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = null;
}


@{
    if (Model.Item.Data == null)
    {
        <div id="traxplayer-content" style="text-align: center;"><img src="~/c_images/myhabbo/traxplayer/player.png" /></div>
    }
    else
    {
        <div class="trax-player" id="trax-player">
            <div class="display">
                <div class="loading"></div>
                <div class="display-inner">
                    <div class="title"></div>
                    <div class="author"></div>
                    <div class="time"><span class="length"></span></div>
                </div>

            </div>
            <div class="control">
                <button class="play-btn" onClick={_traxPlayer.Play()}>Play</button>
            </div>
            <div class="volumecontainer">
                <div class="volume-indicator">
                    <div class="volume-indicator-filled">
                        <div class="volume-indicator-filled-bg"></div>
                    </div>
                </div>
                <input type="range" min="0" max="100" value="50" class="volume">
            </div>
            <div class="music-activity"></div>
        </div>
        <script>
             var _traxPlayer = new TraxPlayer("/trax/song/@(Model.Item.Data)", "@(Configuration.GetSection("keplercms")["traxUrl"])/");
        </script>
    }
}
