@section Styles {
    <link href="~/styles/myhabbo/assets.css" rel="stylesheet" />
    <link href="~/styles/myhabbo/myhabbo.css" rel="stylesheet" />
    <link href="~/styles/myhabbo/skins.css" rel="stylesheet" />
    <link href="~/styles/myhabbo/dialogs.css" rel="stylesheet" />
}
@section Scripts {

}
<style type="text/css">

    #playground, #playground-outer {
        width: 922px;
        height: 1360px;
    }
</style>


<div id="mypage-top-nav">
    <div id="page-headline">
        <div id="page-headline-breadcrums">

        </div>
        <div id="page-headline-text">
            Habbo Home: Patrick
        </div>
    </div>
    <div class="box-tabs-container box-tabs-left clearfix">



        <a href="https://classichabbo.com/myhabbo/startSession/7975" id="edit-button" class="new-button dark-button edit-icon" style="float:left"><b><span></span>Edit</b><i></i></a>



        <div class="myhabbo-view-tools">
        </div>

        <h2 class="page-owner">Wizter</h2>
        <ul class="box-tabs"></ul>
    </div>
</div>
<div id="mypage-wrapper">
    

    <div id="mypage-content">

        <div id="mypage-bg" class="b_bg_pattern_bricks">

            <div id="playground">






                <div class="movable widget ProfileWidget" id="widget-31253" style="left: 443px; top: 33px; z-index: 234">
                    <div class="w_skin_hc_pillowskin">
                        <div class="widget-corner" id="widget-31253-handle">
                            <div class="widget-headline">
                                <h3>

                                    <span class="header-left">&nbsp;</span><span class="header-middle">MY PROFILE</span><span class="header-right">&nbsp;</span>
                                </h3>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-content">
                                <div class="profile-info">

                                    <div class="name" style="float: left">
                                        <span class="name-text">Wizter</span>
                                        <img id="name-4-report" class="report-button report-n" alt="report" src="https://cdn.classichabbo.com/web-gallery/images/myhabbo/buttons/report_button.gif" style="display: none;">
                                    </div>

                                    <br class="clear">


                                    <img alt="online" src="https://cdn.classichabbo.com/web-gallery/images/myhabbo/profile/habbo_offline.gif">

                                    <div class="birthday text">
                                        Created on:
                                    </div>
                                    <div class="birthday date">
                                        2020-03-21
                                    </div>

                                    <div>



                                        <img src="https://cdn.classichabbo.com/c_images/album1584/DK.gif">

                                    </div>

                                </div>
                                <div class="profile-figure">
                                    <img alt="Wizter" src="https://habbo.com/habbo-imaging/avatarimage?figure=hd-185-1.hr-100-.ch-210-62.lg-275-90.sh-300-62.ca-1815-62.he-1607-.ha-1004-62.ea-1401-62.fa-1209-62&amp;size=b&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1">
                                </div>

                                <div class="profile-motto">
                                    <img id="motto-4-report" class="report-button report-n" alt="report" src="https://cdn.classichabbo.com/web-gallery/images/myhabbo/buttons/report_button.gif" style="display: none;">
                                    <div class="clear"></div>
                                </div>


                                <div id="profile-tags-panel">
                                    <div id="profile-tag-list">
                                        <div id="profile-tags-container">

                                            No tags.

                                        </div>

                                        <script type="text/javascript">
                                            document.observe("dom:loaded", function () {
                                                TagHelper.setTexts({
                                                    buttonText: "Ok",
                                                    tagLimitText: "The limit is 8 tags!"
                                                });
                                            });
                                        </script>

                                    </div>
                                    <div id="profile-tags-status-field">
                                        <div style="display: block;">
                                            <div class="content-red">
                                                <div class="content-red-body">
                                                    <span id="tag-limit-message"><img src="https://cdn.classichabbo.com/web-gallery/images/register/icon_error.gif"> The limit is 8 tags!</span>
                                                    <span id="tag-invalid-message"><img src="https://cdn.classichabbo.com/web-gallery/images/register/icon_error.gif"> Invalid tag.</span>
                                                </div>
                                            </div>
                                            <div class="content-red-bottom">
                                                <div class="content-red-bottom-body"></div>
                                            </div>
                                        </div>
                                    </div>        <div class="profile-add-tag">
                                        <input type="text" id="profile-add-tag-input" maxlength="30"><br clear="all">
                                        <a href="#" class="new-button" style="float:left;margin:5px 0 0 0;" id="profile-add-tag"><b>Add tag</b><i></i></a>
                                    </div>
                                </div>

                                <script type="text/javascript">
                                    document.observe("dom:loaded", function () {
                                        new ProfileWidget('7975', '7975', {
                                            headerText: "Are you sure?",
                                            messageText: "Are you sure you want to ask <strong\>Wizter</strong\> to be your friend? Think twice before you hit OK!",
                                            loginText: "You must sign in before sending a friend request.",
                                            buttonText: "Ok",
                                            cancelButtonText: "Cancel"
                                        });
                                    });
                                </script>

                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>







                <div class="movable widget RoomsWidget" id="widget-31254" style="left: 440px; top: 321px; z-index: 177">
                    <div class="w_skin_defaultskin">
                        <div class="widget-corner" id="widget-31254-handle">
                            <div class="widget-headline">
                                <h3>

                                    <span class="header-left">&nbsp;</span><span class="header-middle">MY ROOMS</span><span class="header-right">&nbsp;</span>
                                </h3>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-content">

                                <div id="room_wrapper">
                                    <table border="0" cellpadding="0" cellspacing="0">







                                        <tbody>
                                            <tr>

                                                <td valign="top">
                                                    <div class="room_image">
                                                        <img src="https://cdn.classichabbo.com/web-gallery/images/myhabbo/rooms/room_icon_open.gif" alt="" align="middle">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="room_info">
                                                        <div class="room_name">
                                                            Wizter's Room
                                                        </div>
                                                        <div class="clear"></div>
                                                        <div>Wizter has entered the building        		</div>
                                                        <a href="https://classichabbo.com/client?forwardId=2&amp;roomId=7846" target="client" id="room-navigation-link_7846" onclick="if (!window.__cfRLUnblockHandlers) return false; HabboClient.roomForward(this, '7846', 'private', false); return false;">					 enter room					 </a>
                                                    </div>
                                                    <br class="clear">

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="movable widget HighScoresWidget" id="widget-31255" style="left: 472px; top: 477px; z-index: 188">
                    <div class="w_skin_goldenskin">
                        <div class="widget-corner" id="widget-31255-handle">
                            <div class="widget-headline">
                                <h3>

                                    <span class="header-left">&nbsp;</span><span class="header-middle">HIGH SCORES</span><span class="header-right">&nbsp;</span>
                                </h3>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>You do not have any high scores.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="movable sticker s_paper_clip_1" style="left: 360px; top: 817px; z-index: 239" id="sticker-31256">

                </div>



                <div class="movable sticker s_sticker_spaceduck" style="left: 391px; top: 252px; z-index: 206" id="sticker-31258">

                </div>



                <!-- X-JSON: 31259 -->

                <div class="movable stickie n_skin_speechbubbleskin-c" style="left: 56px; top: 229px; z-index: 151" id="stickie-31259">
                    <div class="n_skin_speechbubbleskin">
                        <div class="stickie-header">
                            <h3>
                            </h3>
                            <div class="clear"></div>
                        </div>
                        <div class="stickie-body">
                            <div class="stickie-content">
                                <div class="stickie-markup">Welcome to a brand new Habbo Home page!<br>This is the place where you can express yourself with a wild and unique variety of stickers, hoot yo<br>trap off with colourful notes and showcase your Habbo rooms! To<br>start editing just click the edit button.<br></div>
                                <div class="stickie-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- X-JSON: 31260 -->

                <div class="movable stickie n_skin_notepadskin-c" style="left: 110px; top: 409px; z-index: 170" id="stickie-31260">
                    <div class="n_skin_notepadskin">
                        <div class="stickie-header">
                            <h3>
                            </h3>
                            <div class="clear"></div>
                        </div>
                        <div class="stickie-body">
                            <div class="stickie-content">
                                <div class="stickie-markup">Where are my friends?<br>To add your buddy list to your page click edit and look in your widgets inventory. After placing it on the page you can move it all over the place and even change how it looks. Go on!</div>
                                <div class="stickie-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>











                <div class="movable widget GuestbookWidget" id="widget-31262" style=" left: 125px; top: 619px; z-index: 181;">
                    <div class="w_skin_defaultskin">
                        <div class="widget-corner" id="widget-31262-handle">
                            <div class="widget-headline">
                                <h3>



                                    <span class="header-left">&nbsp;</span><span class="header-middle">My Guestbook(<span id="guestbook-size">0</span>) <span id="guestbook-type" class="public"><img src="https://cdn.classichabbo.com/web-gallery/images/groups/status_exclusive.gif" title="myhabbo.guestbook.unknown.private" alt="myhabbo.guestbook.unknown.private"></span></span><span class="header-right">&nbsp;</span>
                                </h3>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-content">
                                <div id="guestbook-wrapper" class="gb-public">
                                    <ul class="guestbook-entries" id="guestbook-entry-container">


                                        <div id="guestbook-empty-notes">This guestbook has no entries.</div>

                                    </ul>
                                </div>


                                <div class="guestbook-toolbar clearfix">
                                    <a href="#" class="new-button envelope-icon" id="guestbook-open-dialog">
                                        <b><span></span>Post new message</b><i></i>
                                    </a>
                                </div>



                                <script type="text/javascript">
                                    document.observe("dom:loaded", function () {
                                        var gb31262 = new GuestbookWidget('', '31262', 500);
                                        var editMenuSection = $('guestbook-privacy-options');
                                        if (editMenuSection) {
                                            gb31262.updateOptionsList('public');
                                        }
                                    });
                                </script>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>











                <div class="movable widget BadgesWidget" id="widget-31263" style="left: 10px; top: 10px; z-index: 0">
                    <div class="w_skin_metalskin">
                        <div class="widget-corner" id="widget-31263-handle">
                            <div class="widget-headline">
                                <h3>

                                    <span class="header-left">&nbsp;</span><span class="header-middle">Badges &amp; Achievements</span><span class="header-right">&nbsp;</span>
                                </h3>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-content">
                                <div id="badgelist-content">
                                    <ul class="clearfix">

                                        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ACH_TraderPass1.gif)"></li>

                                        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/Z63.gif)"></li>

                                        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/DK.gif)"></li>

                                        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ACH_RoomEntry1.gif)"></li>

                                        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ACH_Graduate1.gif)"></li>

                                        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ACH_AllTimeHotelPresence1.gif)"></li>

                                        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ACH_RegistrationDuration2.gif)"></li>

                                        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/HC1.gif)"></li>

                                        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ACH_AvatarLooks1.gif)"></li>

                                    </ul>


                                    <div id="badge-list-paging">
                                        9 - 1 / 1<br>


                                        First | &lt;&lt; |



                                        &gt;&gt; | Last

                                        <input type="hidden" id="badgeListPageNumber" value="1">
                                        <input type="hidden" id="badgeListTotalPages" value="1">
                                        <script type="text/javascript">
                                            document.observe('dom:loaded', function () {
                                                window.badgesWidget31263 = new BadgesWidget('7975', '31263');
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="clear"></div>

                            </div>
                        </div>
                    </div>
                </div>




                <div class="movable widget TraxPlayerWidget" id="widget-31266" style=" left: 542px; top: 600px; z-index: 210;">
                    <div class="w_skin_defaultskin">
                        <div class="widget-corner" id="widget-31266-handle">
                            <div class="widget-headline">
                                <h3>



                                    <span class="header-left">&nbsp;</span><span class="header-middle">TRAXPLAYER</span><span class="header-right">&nbsp;</span>
                                </h3>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-content">

                                <div id="traxplayer-content" style="text-align: center;"><img src="https://cdn.classichabbo.com/web-gallery/images/traxplayer/player.png"></div>


                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- X-JSON: 31268 -->

                <div class="movable stickie n_skin_speechbubbleskin-c" style="left: 169px; top: 69px; z-index: 218" id="stickie-31268">
                    <div class="n_skin_speechbubbleskin">
                        <div class="stickie-header">
                            <h3>
                            </h3>
                            <div class="clear"></div>
                        </div>
                        <div class="stickie-body">
                            <div class="stickie-content">
                                <div class="stickie-markup"><a onclick="if (!window.__cfRLUnblockHandlers) return false; roomForward(this, '1271', 'private'); return false;" target="client" href="https://classichabbo.com/client?forwardId=2&amp;roomId=1271">test</a><a href="https://classichabbo.com/home/7975/id">Wizter</a></div>
                                <div class="stickie-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- X-JSON: 31269 -->

                <div class="movable stickie n_skin_metalskin-c" style="left: 20px; top: 30px; z-index: 1" id="stickie-31269">
                    <div class="n_skin_metalskin">
                        <div class="stickie-header">
                            <h3>
                            </h3>
                            <div class="clear"></div>
                        </div>
                        <div class="stickie-body">
                            <div class="stickie-content">
                                <div class="stickie-markup">sdfasfd</div>
                                <div class="stickie-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="movable sticker s_bankscan" style="left: 20px; top: 30px; z-index: 0" id="sticker-31273">

                </div>



                <div class="movable sticker s_custom_xmas_box_suit_blue" style="left: 513px; top: 108px; z-index: 216" id="sticker-31275">

                </div>



                <div class="movable sticker s_bonbon_duck_146x146" style="left: 217px; top: 60px; z-index: 237" id="sticker-31276">

                </div>



                <div class="movable sticker s_bonbon_duck_146x146" style="left: 247px; top: 74px; z-index: 235" id="sticker-31277">

                </div>



            </div>

            <div id="mypage-ad">

                <div class="habblet ">
                    <div class="ad-container">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
