@using KeplerCMS.Areas.MyHabbo.Models; 
@model ItemViewModel;
@{
    var badges = new BadgesViewModel { Item = Model, PageNumber = 1 };
}


<div class="widget-corner" id="widget-@(Model.Item.Id)-handle">
    <div class="widget-headline">
        <h3>
            @{
                if (Model.EnableEditing)
                {
                    <img src="~/c_images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-@Model.Item.Id-edit">
                    <script language="JavaScript" type="text/javascript">
                                        Event.observe("widget-@Model.Item.Id-edit", "click", function (e) { openEditMenu(e, @Model.Item.Id, "widget", "widget-@Model.Item.Id-edit"); }, false);
                    </script>
                }
            }
            <span class="header-left">&nbsp;</span><span class="header-middle">@DbRes.T("badges", "habbohome")</span><span class="header-right">&nbsp;</span>
        </h3>
    </div>
</div>
<div class="widget-body">
    <div class="widget-content">
        <partial name="~/Areas/MyHabbo/Views/BadgeList/BadgePaging.cshtml" model=badges />
    </div>
</div>