@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model KeplerCMS.Areas.MyHabbo.Models.ItemViewModel;
@{Layout = null;}


<div class="widget-corner" id="widget-@Model.Item.Id-handle">
    <div class="widget-headline">
        <h3>
            @{
                if (Model.EnableEditing)
                {

                    <img src="~/c_images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-@Model.Item.Id-edit">
                    <script language="JavaScript" type="text/javascript">
                        Event.observe("widget-@Model.Item.Id-edit", "click", function (e) { openEditMenu(e, @Model.Item.Id, "widget", "widget-@Model.Item.Id-edit"); }, false);
                    </script>
                }
            }

            <span class="header-left">&nbsp;</span><span class="header-middle">My Friends (<span id="avatar-list-size">0</span>)</span><span class="header-right">&nbsp;</span>
        </h3>
    </div>
</div>
<div class="widget-body">
    <div class="widget-content">
        <div id="avatar-list-search">
            <input type="text" style="float:left;" id="avatarlist-search-string">
            <a class="new-button" style="float:left;" id="avatarlist-search-button"><b>Search</b><i></i></a>
        </div>
        <br clear="all">













        <div id="avatarlist-content">


            <div class="avatar-widget-list-container">
                <ul id="avatar-list-list" class="avatar-widget-list">



                    <li id="avatar-list-14666-181" title="BoTiFaRRa">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-181" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-190-3.ch-215-91.hr-170-35.lg-275-89.sh-295-92.ha-1013-89.ca-1811-62&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/BoTiFaRRa">BoTiFaRRa</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-200" title="Mojko">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-200" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=lg-280-110.hd-185-2.ch-255-76.hr-828-61.ca-1806-110.ea-1401-110&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Mojko">Mojko</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-1879" title="lollo">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-1879" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=wa-2005-.hd-180-4.ch-804-82.lg-280-89.sh-300-92.he-1608-.hr-828-34&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/lollo">lollo</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-5350" title="Why">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-5350" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=wa-2002-96.hd-185-1.ch-225-110.ea-1404-96.lg-280-110.sh-295-96.he-1609-96.hr-165-61&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Why">Why</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-10532" title="PaulSartre">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-10532" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hr-893-61.hd-205-10.ch-220-109.lg-285-91.sh-300-109.ha-1011-91&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/PaulSartre">PaulSartre</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-6025" title="Thunder">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-6025" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=lg-827-73.sh-905-81.hd-600-7.ch-690-65.hr-834-44&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Thunder">Thunder</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-6019" title="WillyWanker">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-6019" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-205-1.hr-165-44.ch-255-79.lg-270-82.sh-290-80&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/WillyWanker">WillyWanker</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-12777" title="xOwnz">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-12777" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-205-1.ch-255-83.lg-285-78.sh-290-92.hr-828-47.ha-1002-62&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/xOwnz">xOwnz</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-9015" title="maconha">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-9015" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=lg-280-64.he-1609-64.hr-828-42.hd-180-18.ch-255-110.sh-290-64&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/maconha">maconha</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-44" title="diegofm">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-44" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-208-8.ch-887-72.ca-1804-110.fa-1206-110.sh-300-72.ha-1023-72.hr-802-61.ea-1404-110.lg-285-110&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/diegofm">diegofm</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-11220" title="thom">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-11220" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=sh-908-92.hd-180-2.ch-220-72.hr-828-45.lg-280-63&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/thom">thom</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-111" title="Alcosmos">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-111" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hr-540-42.hd-605-7.ch-685-62.lg-696-85.sh-730-88.ha-1005-88.fa-1212-&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Alcosmos">Alcosmos</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-10259" title="Tsjoep">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-10259" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=lg-270-64.fa-1204-.hd-190-1.ch-235-97.hr-170-45.sh-295-62&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Tsjoep">Tsjoep</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-28" title="-">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-28" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=wa-2001-62.hd-180-23.ch-225-92.lg-285-91.sh-295-90.hr-125-51&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/-">-</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-97" title="Gucci">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-97" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-180-1.ch-267-73.hr-165-48.lg-281-62&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Gucci">Gucci</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-11733" title="Frvncisco">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-11733" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-195-10.ch-255-64.ca-1816-62.lg-275-110.sh-300-110.he-1609-100.hr-802-42&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Frvncisco">Frvncisco</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-5335" title="Grimes">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-5335" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=wa-2011-62.hd-625-2.ch-655-92.lg-716-92.sh-730-108.he-1608-62.hr-678-34&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Grimes">Grimes</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-13644" title="Nati">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-13644" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-180-1.ch-215-98.hr-828-45.lg-275-110.sh-905-92.he-1608-62.ca-1815-95&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Nati">Nati</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-9" title="Vixen">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-9" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-600-1.lg-700-101.sh-735-101.hr-596-34.he-1608-62.ha-1023-101.ch-887-101&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Vixen">Vixen</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-12409" title="Erzen">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-12409" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-190-28.hr-893-61.ch-267-110.lg-281-92.sh-908-92.fa-1204-.ha-1005-96&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Erzen">Erzen</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-9345" title="GBRL">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-9345" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-627-2.ch-665-63.lg-695-109.sh-730-92.hr-834-56&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/GBRL">GBRL</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-4947" title="whitefatalis">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-4947" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=sh-300-67.hd-180-1.ch-886-100.hr-802-40.lg-285-108&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/whitefatalis">whitefatalis</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-9401" title="Luisah">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-9401" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=ch-665-109.hd-600-1.sh-730-96.lg-700-110.fa-1204-110.hr-834-31&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Luisah">Luisah</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-11" title="Pea">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-11" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=lg-700-110.hr-540-44.ea-1402-.ha-1002-110.hd-605-28.ch-660-94&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Pea">Pea</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-7517" title="Punked20">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-7517" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-180-10.hr-170-57.ch-803-83.lg-275-77.sh-295-81.ea-1402-.fa-1204-&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Punked20">Punked20</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-6105" title="warkao">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-6105" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=wa-2001-62.hd-180-23.ch-215-62.lg-270-81.sh-305-91.hr-828-45.ea-1404-110&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/warkao">warkao</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-118" title="Siract">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-118" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-180-28.ch-804-110.fa-1212-.sh-290-62.lg-275-110.hr-828-52.ea-1406-.ha-1013-110&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Siract">Siract</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-7172" title="Harissa">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-7172" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-190-1.ch-267-80.ea-1404-69.lg-285-67.sh-295-65.he-1601-.hr-831-45.fa-1212-110&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Harissa">Harissa</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-5975" title="xavowinner">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-5975" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=lg-280-110.hr-831-61.ch-215-110.ca-1816-62.fa-1209-93.hd-180-29.sh-295-110&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/xavowinner">xavowinner</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-23" title="Agent">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-23" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hd-180-2.ch-267-110.lg-280-110.sh-295-92.he-1604-.hr-165-31&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/Agent">Agent</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-8245" title="ATN">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-8245" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=ea-1405-.lg-285-110.hd-190-28.ch-886-110.hr-831-56.sh-305-62&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/ATN">ATN</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>

                    <li id="avatar-list-14666-12248" title="noruelicioso">
                        <div class="avatar-list-open"><a href="#" id="avatar-list-open-link-14666-12248" class="avatar-list-open-link"></a></div>
                        <div class="avatar-list-avatar"><img src="https://www.habbo.com/habbo-imaging/avatarimage?figure=hr-677-58.hd-190-2.ch-804-107.lg-285-110.sh-295-110&amp;size=s&amp;direction=4&amp;head_direction=4&amp;crr=0&amp;gesture=&amp;frame=1" alt=""></div>
                        <h4><a href="https://classichabbo.com/home/noruelicioso">noruelicioso</a></h4>
                        <p class="avatar-list-birthday">16-05-2020</p>
                        <p>

                        </p>
                    </li>


                </ul>

                <div id="avatar-list-info" class="avatar-list-info">

                    <div class="avatar-list-info-close-container"><a href="#" class="avatar-list-info-close"></a></div>
                    <div class="avatar-list-info-container"></div>
                </div>

            </div>

            @{
                if (false)
                {

                    <div class="avatar-widget-list-container">
                        <ul id="avatar-list-list" class="avatar-widget-list">


                            You don't have any friends :(

                        </ul>



                        <div id="avatar-list-info" class="avatar-list-info">

                            <div class="avatar-list-info-close-container"><a href="#" class="avatar-list-info-close"></a></div>
                            <div class="avatar-list-info-container"></div>
                        </div>

                    </div>
                }
            }

            <div id="avatar-list-paging" style="">

                1 - 32 / 8
                <br>


                First | &lt;&lt; |



                <a href="#" class="avatar-list-paging-link" id="avatarlist-search-next">&gt;&gt;</a> |
                <a href="#" class="avatar-list-paging-link" id="avatarlist-search-last">Last</a>


                <input type="hidden" id="pageNumber" value="1">
                <input type="hidden" id="totalPages" value="8">
            </div>

            <script type="text/javascript">
            document.observe("dom:loaded", function() {
	            window.widget@(Model.Item.Id) = new FriendsWidget('1', '@(Model.Item.Id)');
            });
            </script>
        </div>
        <div class="clear"></div>
    </div>
</div>