@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model KeplerCMS.Areas.MyHabbo.Models.ItemViewModel;
@{Layout = null;}



<div class="widget-corner" id="widget-@(Model.Item.Id)-handle">
    <div class="widget-headline">
        <h3>
            @{
                if (Model.EnableEditing)
                {
                    <img src="~/c_images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="widget-@Model.Item.Id-edit">
                    <script language="JavaScript" type="text/javascript">
                        Event.observe("widget-@Model.Item.Id-edit", "click", function (e) { openEditMenu(e, @Model.Item.Id, "widget", "widget-@Model.Item.Id-edit"); }, false);
                    </script>
                }
            }

            <span class="header-left">&nbsp;</span><span class="header-middle">@DbRes.T("mygroups", "habbohome")</span><span class="header-right">&nbsp;</span>
        </h3>
    </div>
</div>
<div class="widget-body">
    <div class="widget-content">

        <div class="groups-list-container">
            <ul class="groups-list">


                <li title="Arco-?ris" id="groups-list-31265-398">
                    <div class="groups-list-icon"><a href="https://classichabbo.com/groups/arcoiris"><img src="https://cdn.classichabbo.com/habbo-imaging/badge/s35091s54114.gif"></a></div>

                    <h4>

                        <a href="https://classichabbo.com/groups/arcoiris">Arco-?ris</a>
                    </h4>
                    <p>
                        Group created:<br>
                        <b>Jun 27, 2020</b>





                    </p>
                    <div class="clear"></div>

                </li>

                <li title="We like horses" id="groups-list-31265-352">
                    <div class="groups-list-icon"><a href="https://classichabbo.com/groups/horse"><img src="https://cdn.classichabbo.com/habbo-imaging/badge/s14114.gif"></a></div>

                    <h4>

                        <a href="https://classichabbo.com/groups/horse">We like horses</a>
                    </h4>
                    <p>
                        Group created:<br>
                        <b>May 21, 2020</b>



                        <img src="https://cdn.classichabbo.com/web-gallery/images/groups/favourite_group_icon.gif" width="15" height="15" class="groups-list-icon" alt="Favorite" title="Favorite">


                        <img src="https://cdn.classichabbo.com/web-gallery/images/groups/owner_icon.gif" width="15" height="15" class="groups-list-icon" alt="Owner" title="Owner">


                    </p>
                    <div class="clear"></div>

                </li>


            </ul>
        </div>

        <div class="clear"></div>
    </div>
</div>