@model KeplerCMS.Data.Models.Containers

<div class="v2box red light">
    <div class="headline"><h3>@Model.Title</h3></div>
    <div class="border"><div></div></div>
    <div class="body">
        @Html.Raw(Model.Text)
        <div class="clear"></div>
    </div>
    <div class="bottom"><div></div></div>
</div>