@model UploadAddViewModel

<div class="card">
    <div class="card-header">
        <h4 class="text-uppercase">Upload file</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data" >
            <div class="form-group">
                <label asp-for="Files" class="label-control"></label>
                <input asp-for="Files" class="form-control" type="file" />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="label-control"></label>
                <select asp-for="Category" class="form-control">
                    <option>news</option>
                    <option>habbohome</option>
                    <option>various</option>
                    <option>promo</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>  