@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model KeplerCMS.Models.GroupSettingsViewModel 
@{ 
    Layout = null;
}
Editing group settings successful
<p>
<a href="https://classichabbo.com/groups/450/id" class="new-button"><b>Done</b><i></i></a>
</p>

<div class="clear"></div>