@using RazorLight
@inherits TemplatePage<KeplerCMS.Models.Emails.ForgotPasswordModel>
@{
    Layout = "/Views/Shared/_EmailGeneric";
}

<p style="font-family: Verdana; font-size: 12px; padding-left: 20px; padding-right: 20px;">
    <b>@Model.Title</b>
    <br aria-hidden="true">
    <br aria-hidden="true">
    @Raw(Model.Body.Replace("{link}", "<a href=\""+Model.ResetPasswordUri+"\">"+Model.ResetPassword+"</a>"))
</p>
