<div id="badgelist-content">
    <ul class="clearfix">

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/MAL02.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/SGD.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/Z20.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/Z02.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/NL249.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/Z04.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ES819.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ES467.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ACH_RespectEarned4.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/VA5.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ITC54.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ESO.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ACH_AllTimeHotelPresence7.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/UK037.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/CLUBS.gif)"></li>

        <li style="background-image: url(https://cdn.classichabbo.com/c_images/album1584/ACH_Login5.gif)"></li>

    </ul>


    <div id="badge-list-paging">
        16 - 2 / 2<br />


        <a href="#" id="badge-list-search-first">First</a> |
        <a href="#" id="badge-list-search-previous">&lt;&lt;</a> |



        &gt;&gt; | Last

        <input type="hidden" id="badgeListPageNumber" value="2" />
        <input type="hidden" id="badgeListTotalPages" value="2" />
        <script type="text/javascript">
            document.observe('dom:loaded', function () {
                window.badgesWidget22037 = new BadgesWidget('', '22037');
            });
        </script>
    </div>
</div>
<div class="clear"></div>
