<div class="avatar-list-info-container">
    <div class="avatar-info-basic clearfix">
        <div class="avatar-list-info-close-container"><a href="#" class="avatar-list-info-close" id="avatar-list-info-close-3"></a></div>
        <div class="avatar-info-image">
            <img src="https://habbo.com/habbo-imaging/avatarimage?figure=lg-280-110.hd-185-2.ch-255-76.hr-828-61.ca-1806-110.ea-1401-110&size=b&direction=4&head_direction=4&crr=0&gesture=&frame=1" alt="test" />
        </div>
        <h4><a href="https://classichabbo.com/home/Mojko">Mojko</a></h4>
        <p>
            <a href="https://classichabbo.com/client" target="client" onclick="HabboClient.openOrFocus(this); return false;">


                <img src="~/c_images/myhabbo/profile/habbo_offline.gif" />


        </p>
        <p>Habbo created on: <b>2019-12-11</b></p>
        <p><a href="https://classichabbo.com/home/Mojko" class="arrow">View Habbo page</a></p>
    </div>
</div>