<p>
    @DbRes.T("store_background_warning", "habbohome")
</p>

<p>
    <a href="#" class="new-button" id="webstore-warning-ok"><b>@DbRes.T("ok", "habbohome")</b><i></i></a>
</p>

<div class="clear"></div>