@{Layout = null;}
<div style="position: relative;">
    <div id="webstore-categories-container">
        <h4>Categories:</h4>
        <div id="webstore-categories">
            <ul class="purchase-main-category">
                <li id="maincategory-1-stickers" class="selected-main-category webstore-selected-main">
                    <div>Stickers</div>
                    <ul class="purchase-subcategory-list" id="main-category-items-1">


                        <li id="subcategory-1-470-stickers" class="subcategory-selected">
                            <div>Advertisments</div>
                        </li>



                        <li id="subcategory-1-452-stickers" class="subcategory">
                            <div>Alhambra</div>
                        </li>



                        <li id="subcategory-1-182-stickers" class="subcategory">
                            <div>Alphabet Bling</div>
                        </li>



                        <li id="subcategory-1-480-stickers" class="subcategory">
                            <div>Alphabet Diner Blue</div>
                        </li>



                        <li id="subcategory-1-483-stickers" class="subcategory">
                            <div>Alphabet Diner Green</div>
                        </li>



                        <li id="subcategory-1-485-stickers" class="subcategory">
                            <div>Alphabet Diner Red</div>
                        </li>



                        <li id="subcategory-1-394-stickers" class="subcategory">
                            <div>Alphabet Plastic</div>
                        </li>



                        <li id="subcategory-1-486-stickers" class="subcategory">
                            <div>Alphabet Wood</div>
                        </li>



                        <li id="subcategory-1-454-stickers" class="subcategory">
                            <div>Apartment 732</div>
                        </li>



                        <li id="subcategory-1-453-stickers" class="subcategory">
                            <div>Avatars</div>
                        </li>



                        <li id="subcategory-1-457-stickers" class="subcategory">
                            <div>Banks</div>
                        </li>



                        <li id="subcategory-1-481-stickers" class="subcategory">
                            <div>Batman Darknight</div>
                        </li>



                        <li id="subcategory-1-446-stickers" class="subcategory">
                            <div>Battle Ball</div>
                        </li>



                        <li id="subcategory-1-461-stickers" class="subcategory">
                            <div>Beach</div>
                        </li>



                        <li id="subcategory-1-138-stickers" class="subcategory">
                            <div>Borders</div>
                        </li>



                        <li id="subcategory-1-451-stickers" class="subcategory">
                            <div>Buttons</div>
                        </li>



                        <li id="subcategory-1-468-stickers" class="subcategory">
                            <div>Celebration</div>
                        </li>



                        <li id="subcategory-1-466-stickers" class="subcategory">
                            <div>China</div>
                        </li>



                        <li id="subcategory-1-493-stickers" class="subcategory">
                            <div>Christmas 07</div>
                        </li>



                        <li id="subcategory-1-105-stickers" class="subcategory">
                            <div>Christmas 09</div>
                        </li>



                        <li id="subcategory-1-459-stickers" class="subcategory">
                            <div>Costume</div>
                        </li>



                        <li id="subcategory-1-171-stickers" class="subcategory">
                            <div>Cute</div>
                        </li>



                        <li id="subcategory-1-444-stickers" class="subcategory">
                            <div>Deals</div>
                        </li>



                        <li id="subcategory-1-482-stickers" class="subcategory">
                            <div>Diner</div>
                        </li>



                        <li id="subcategory-1-462-stickers" class="subcategory">
                            <div>Easter</div>
                        </li>



                        <li id="subcategory-1-106-stickers" class="subcategory">
                            <div>Flags</div>
                        </li>



                        <li id="subcategory-1-456-stickers" class="subcategory">
                            <div>Football</div>
                        </li>



                        <li id="subcategory-1-467-stickers" class="subcategory">
                            <div>Habbowood</div>
                        </li>



                        <li id="subcategory-1-488-stickers" class="subcategory">
                            <div>Halloween</div>
                        </li>



                        <li id="subcategory-1-469-stickers" class="subcategory">
                            <div>Highlighter</div>
                        </li>



                        <li id="subcategory-1-491-stickers" class="subcategory">
                            <div>Hockey</div>
                        </li>



                        <li id="subcategory-1-471-stickers" class="subcategory">
                            <div>Inked</div>
                        </li>



                        <li id="subcategory-1-476-stickers" class="subcategory">
                            <div>Japanese</div>
                        </li>



                        <li id="subcategory-1-475-stickers" class="subcategory">
                            <div>Keep It Real (NOT!)</div>
                        </li>



                        <li id="subcategory-1-490-stickers" class="subcategory">
                            <div>Money</div>
                        </li>



                        <li id="subcategory-1-449-stickers" class="subcategory">
                            <div>OB</div>
                        </li>



                        <li id="subcategory-1-130-stickers" class="subcategory">
                            <div>Others</div>
                        </li>



                        <li id="subcategory-1-465-stickers" class="subcategory">
                            <div>Paper Mario</div>
                        </li>



                        <li id="subcategory-1-270-stickers" class="subcategory">
                            <div>Pointers</div>
                        </li>



                        <li id="subcategory-1-472-stickers" class="subcategory">
                            <div>Prices</div>
                        </li>



                        <li id="subcategory-1-107-stickers" class="subcategory">
                            <div>Promos</div>
                        </li>



                        <li id="subcategory-1-492-stickers" class="subcategory">
                            <div>Rock</div>
                        </li>



                        <li id="subcategory-1-109-stickers" class="subcategory">
                            <div>Safe Internet Day</div>
                        </li>



                        <li id="subcategory-1-487-stickers" class="subcategory">
                            <div>Sea</div>
                        </li>



                        <li id="subcategory-1-479-stickers" class="subcategory">
                            <div>Sparkle</div>
                        </li>



                        <li id="subcategory-1-443-stickers" class="subcategory">
                            <div>Special Effects</div>
                        </li>



                        <li id="subcategory-1-442-stickers" class="subcategory">
                            <div>Spring</div>
                        </li>



                        <li id="subcategory-1-484-stickers" class="subcategory">
                            <div>St Patrick</div>
                        </li>



                        <li id="subcategory-1-458-stickers" class="subcategory">
                            <div>Summer</div>
                        </li>



                        <li id="subcategory-1-473-stickers" class="subcategory">
                            <div>Tiki</div>
                        </li>



                        <li id="subcategory-1-102-stickers" class="subcategory">
                            <div>Trax</div>
                        </li>



                        <li id="subcategory-1-489-stickers" class="subcategory">
                            <div>Valentine</div>
                        </li>



                        <li id="subcategory-1-460-stickers" class="subcategory">
                            <div>WWE</div>
                        </li>



                        <li id="subcategory-1-445-stickers" class="subcategory">
                            <div>Winter</div>
                        </li>




                    </ul>
                </li>
                <li id="maincategory-4-backgrounds" class="main-category">
                    <div>Backgrounds</div>
                    <ul class="purchase-subcategory-list" id="main-category-items-4">


                        <li id="subcategory-1-104-stickers" class="subcategory">
                            <div>Backgrounds</div>
                        </li>


                    </ul>
                </li>
                <li id="maincategory-3-stickie_notes" class="main-category-no-subcategories">
                    <div>Notes</div>
                    <ul class="purchase-subcategory-list" id="main-category-items-3">

                        <li id="subcategory-3-101-stickie_notes" class="subcategory">
                            <div>29</div>
                        </li>

                    </ul>
                </li>
            </ul>

        </div>
    </div>


    <div id="webstore-content-container">
        <div id="webstore-items-container">
            <h4>Select an item by clicking it</h4>
            <div id="webstore-items">
                <ul id="webstore-item-list">


                    <li id="webstore-item-1137" title="Bonbon Duck">
                        <div class="webstore-item-preview s_bonbon_duck_146x146_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1138" title="Bonbon Mouse">
                        <div class="webstore-item-preview s_bonbon_mouse_146x146_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1139" title="Bonbon Rat">
                        <div class="webstore-item-preview s_bonbon_rat_146x146_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1147" title="Bratz Featured Clique">
                        <div class="webstore-item-preview s_bratz_featuredclique_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1170" title="Celeb Ticket Veronicas">
                        <div class="webstore-item-preview s_celebticket_veronicas_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1220" title="Dia de Internetsticker 2008">
                        <div class="webstore-item-preview s_diadeinternetsticker2008_001_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1227" title="Dudesons">
                        <div class="webstore-item-preview s_dudesons_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1276" title="Extreme Dudesons">
                        <div class="webstore-item-preview s_extreme_dudesons_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1280" title="Fantastic Four Logo">
                        <div class="webstore-item-preview s_fantasticfourlogo_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1284" title="Felix 1">
                        <div class="webstore-item-preview s_felix01_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1285" title="Felix 2">
                        <div class="webstore-item-preview s_felix02_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1286" title="Felix 3">
                        <div class="webstore-item-preview s_felix03b_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1297" title="Fieldberries">
                        <div class="webstore-item-preview s_fieldberries_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1298" title="Fiesta Chica Tampax">
                        <div class="webstore-item-preview s_fiesta_chica_tampax_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1299" title="Fiesta Minifalda 1">
                        <div class="webstore-item-preview s_fiesta_minifalda_1_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1300" title="Fiesta Minifalda 2">
                        <div class="webstore-item-preview s_fiesta_minifalda_2_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1301" title="Fiesta Welcome">
                        <div class="webstore-item-preview s_fiesta_welcome_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1311" title="Flower 1">
                        <div class="webstore-item-preview s_flower1png_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1327" title="Gaursticker 3">
                        <div class="webstore-item-preview s_gaursticker3_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1330" title="Girlfriend Blue">
                        <div class="webstore-item-preview s_gf_hotornot_blue_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1331" title="Girlfriend Pink">
                        <div class="webstore-item-preview s_gf_hotornot_pink_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1511" title="Jenkki Monster Sticker">
                        <div class="webstore-item-preview s_jenkki_monster_sticker_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1515" title="Jigoku Shojo 2">
                        <div class="webstore-item-preview s_jigoku_shojo_2_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1514" title="Jigoku Shojo 1">
                        <div class="webstore-item-preview s_jigoku_shojo_1_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1534" title="Karigrandi Sticker">
                        <div class="webstore-item-preview s_karigrandi_sticker_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1538" title="KFP Sticker 1">
                        <div class="webstore-item-preview s_kfp_sticker_01_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1539" title="KFP Sticker 2">
                        <div class="webstore-item-preview s_kfp_sticker_02_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1540" title="KFP Sticker 3">
                        <div class="webstore-item-preview s_kfp_sticker_03_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1541" title="KFP Sticker 4">
                        <div class="webstore-item-preview s_kfp_sticker_04_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1542" title="KFP Sticker 5">
                        <div class="webstore-item-preview s_kfp_sticker_05_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1543" title="KFP Sticker 6">
                        <div class="webstore-item-preview s_kfp_sticker_06_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1544" title="KFP Sticker 7">
                        <div class="webstore-item-preview s_kfp_sticker_07_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1545" title="KIP Partnerbtn">
                        <div class="webstore-item-preview s_kip_partnerbtn_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1610" title="Linnsticker">
                        <div class="webstore-item-preview s_linnsticker_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1614" title="Loderse">
                        <div class="webstore-item-preview s_loderse_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1622" title="Mansikka Tarra">
                        <div class="webstore-item-preview s_mansikka_tarra_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1666" title="No Way Out Slanted">
                        <div class="webstore-item-preview s_nowayout_slanted_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1750" title="Samsung 1">
                        <div class="webstore-item-preview s_samsung1_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1751" title="Samsung 2">
                        <div class="webstore-item-preview s_samsung2_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1752" title="Samsung 3">
                        <div class="webstore-item-preview s_samsung3_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1753" title="Samsung 4">
                        <div class="webstore-item-preview s_samsung4_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1754" title="Samsung 5">
                        <div class="webstore-item-preview s_samsung5_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1769" title="MTV Sticker 1">
                        <div class="webstore-item-preview s_sg_mtv_sticker_01_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1770" title="MTV Sticker 2">
                        <div class="webstore-item-preview s_sg_mtv_sticker_02_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1771" title="MTV Sticker 3">
                        <div class="webstore-item-preview s_sg_mtv_sticker_03_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1831" title="spiderwick Goblin 1 L">
                        <div class="webstore-item-preview s_spiderwick_goblin1_l_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1832" title="spiderwick Goblin 1 R">
                        <div class="webstore-item-preview s_spiderwick_goblin1_r_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1833" title="spiderwick Goblin 2 L">
                        <div class="webstore-item-preview s_spiderwick_goblin2_l_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1834" title="spiderwick Goblin 2 R">
                        <div class="webstore-item-preview s_spiderwick_goblin2_r_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1835" title="spiderwick Goblin Anim L">
                        <div class="webstore-item-preview s_spiderwick_goblin_anim_l_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1836" title="spiderwick Goblin Anim R">
                        <div class="webstore-item-preview s_spiderwick_goblin_anim_r_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1837" title="spiderwick Griffin L">
                        <div class="webstore-item-preview s_spiderwick_griffin_l_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1838" title="spiderwick Griffin R">
                        <div class="webstore-item-preview s_spiderwick_griffin_r_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1839" title="spiderwick Sprite 1 L">
                        <div class="webstore-item-preview s_spiderwick_sprite1_l_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1840" title="spiderwick Sprite 1 R">
                        <div class="webstore-item-preview s_spiderwick_sprite1_r_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1841" title="spiderwick Sprite 2 L">
                        <div class="webstore-item-preview s_spiderwick_sprite2_l_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1842" title="spiderwick Sprite 2 R">
                        <div class="webstore-item-preview s_spiderwick_sprite2_r_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1872" title="Starburst">
                        <div class="webstore-item-preview s_starburst_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1906" title="Sticker Chica_Tampax">
                        <div class="webstore-item-preview s_sticker_chica_tampax_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1907" title="Sticker Chica_Tampax 1">
                        <div class="webstore-item-preview s_sticker_chica_tampax1_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1908" title="Sticker Chica Tampax 2">
                        <div class="webstore-item-preview s_sticker_chica_tampax2_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-1964" title="Sticker Mathoffman">
                        <div class="webstore-item-preview s_sticker_mathoffman_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-2006" title="Sticker Tour">
                        <div class="webstore-item-preview s_sticker_tour_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-2064" title="Tampax Signboard">
                        <div class="webstore-item-preview s_tampax_signboard_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-2086" title="Toffee Tarra">
                        <div class="webstore-item-preview s_toffee_tarra_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-2178" title="Vanilja Tarra">
                        <div class="webstore-item-preview s_vanilja_tarra_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>

                    <li id="webstore-item-2655" title="25_146x146_habbo_sticker_fi">
                        <div class="webstore-item-preview s_25_146x146_habbo_sticker_fi_pre">
                            <div class="webstore-item-mask">

                            </div>
                        </div>
                    </li>



                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>

                    <li class="webstore-item-empty"></li>



                </ul>
            </div>
        </div>
        <div id="webstore-preview-container">
            <div id="webstore-preview-default"></div>
            <div id="webstore-preview">

                <h4 title=""></h4>

                <div id="webstore-preview-box"></div>

                <div id="webstore-preview-price">
                    Price:<br /><b>
                        2 credits
                    </b>
                </div>

                <div id="webstore-preview-purse">
                    You have:<br /><b>722 credits</b><br />
                    <a href="https://classichabbo.com/credits" target=_blank>Get Credits</a>
                </div>

                <div id="webstore-preview-purchase" class="clearfix">
                    <div class="clearfix">
                        <a href="#" class="new-button" id="webstore-purchase"><b>Purchase</b><i></i></a>
                    </div>
                </div>

                <span id="webstore-preview-bg-text" style="display: none">Preview</span>
            </div>
        </div>
    </div>

    <div id="inventory-categories-container">
        <h4>Categories:</h4>
        <div id="inventory-categories">
            <ul class="purchase-main-category">
                <li id="inv-cat-stickers" class="selected-main-category-no-subcategories">
                    <div>Stickers</div>
                </li>
                <li id="inv-cat-backgrounds" class="main-category-no-subcategories">
                    <div>Backgrounds</div>
                </li>
                <li id="inv-cat-widgets" class="main-category-no-subcategories">
                    <div>Widgets</div>
                </li>
                <li id="inv-cat-notes" class="main-category-no-subcategories">
                    <div>Notes</div>
                </li>
            </ul>

        </div>
    </div>

    <div id="inventory-content-container">
        <div id="inventory-items-container">
            <h4>Select an item by clicking it</h4>
            <div id="inventory-items">
                <ul id="inventory-item-list">
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                    <li class="webstore-item-empty"></li>
                </ul>
            </div>
        </div>
        <div id="inventory-preview-container">
            <div id="inventory-preview-default"></div>
            <div id="inventory-preview">
                <h4>&nbsp;</h4>

                <div id="inventory-preview-box"></div>

                <div id="inventory-preview-place" class="clearfix">
                    <div class="clearfix">
                        <a href="#" class="new-button" id="inventory-place"><b></b><i></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="webstore-close-container">
        <div class="clearfix"><a href="#" id="webstore-close" class="new-button"><b>Close</b><i></i></a></div>
    </div>
</div>