@{Layout = null;}


<ul id="inventory-item-list">


    <li id="inventory-item-31473" title="Bonbon Mouse">
        <div class="webstore-item-preview s_bonbon_mouse_146x146_pre">
            <div class="webstore-item-mask">

            </div>
        </div>

    </li>

    <li id="inventory-item-31465" title="Bonbon Duck">
        <div class="webstore-item-preview s_bonbon_duck_146x146_pre">
            <div class="webstore-item-mask">

            </div>
        </div>

    </li>

    <li id="inventory-item-31257" title="Needle 3">
        <div class="webstore-item-preview s_needle_3_pre">
            <div class="webstore-item-mask">

            </div>
        </div>

    </li>




    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>

    <li class="webstore-item-empty"></li>



</ul>
