@model List<KeplerCMS.Areas.MyHabbo.Models.CatalogItem>;
@{Layout = null;}
    <ul id="webstore-item-list">
        @{
            foreach (var item in Model)
            {
                <li id="webstore-item-@item.Details.Id" title="@item.Definition.Name">
                    <div class="webstore-item-preview @(item.Definition.CssClass)_pre">
                        <div class="webstore-item-mask">
                            @{
                                if (item.Details.Amount > 1)
                                {
                                    <div class="webstore-item-count"><div>@("x" + item.Details.Amount)</div></div>
                                }
                            }
                        </div>
                    </div>
                </li>
            }

            var amountOfEmptyToGenerate = 20 - Model.Count();

            if (amountOfEmptyToGenerate > 0)
            {
                for (int i = 0; i < amountOfEmptyToGenerate; i++)
                {
                    <li class="webstore-item-empty"></li>
                }
            }
        }





    </ul>