@model KeplerCMS.Areas.MyHabbo.Models.CatalogItem;
@{
    Layout = null;
}

<h4 title=""></h4>

<div id="webstore-preview-box"></div>

<div id="webstore-preview-price">
    Price:<br /><b>
        @Model.Details.Price credit
    </b>
</div>

<div id="webstore-preview-purse">
    You have:<br /><b>720 credits</b><br />
    <a href="/credits" target=_blank>Get Credits</a>
</div>

<div id="webstore-preview-purchase" class="clearfix">
    <div class="clearfix">
        <a href="#" class="new-button" id="webstore-purchase"><b>Purchase</b><i></i></a>
    </div>
</div>

<span id="webstore-preview-bg-text" style="display: none">Preview</span>		