@model KeplerCMS.Areas.MyHabbo.Models.CatalogItem
@{Layout = null;}

<div class="webstore-item-preview @(Model.Definition.CssClass)_pre">
    <div class="webstore-item-mask">

    </div>
</div>


<p>
    @DbRes.T("store_are_you_sure", "habbohome")
</p>

<p class="new-buttons">
    <a href="#" class="new-button" id="webstore-confirm-cancel"><b>@DbRes.T("cancel", "habbohome")</b><i></i></a>
    <a href="#" class="new-button" id="webstore-confirm-submit"><b>@DbRes.T("store_continue", "habbohome")</b><i></i></a>
</p>

<div class="clear"></div>
