@model KeplerCMS.Areas.MyHabbo.Models.CatalogItem
@{Layout = null;}

<div class="webstore-item-preview @(Model.Definition.CssClass)_pre">
    <div class="webstore-item-mask">

    </div>
</div>


<p>
    Are you sure you want to purchase this product?
</p>

<p class="new-buttons">
    <a href="#" class="new-button" id="webstore-confirm-cancel"><b>Cancel</b><i></i></a>
    <a href="#" class="new-button" id="webstore-confirm-submit"><b>Continue</b><i></i></a>
</p>

<div class="clear"></div>
