@{
    ViewData["Title"] = "Home Page";
}

    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="content-home">

        <tbody>
            <tr><td colspan="6" style="height: 4px;"></td></tr>

            <tr>

                <td rowspan="2" style="width: 8px;">&nbsp;</td>

                <td valign="top" style="width: 740px;">

                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td colspan="3" style="padding-bottom: 3px;">
                                    <script type="text/javascript">
                                                var promoPages = [
                                                    {
                                                        image: "<img width=\"425\" height=\"178\" border=\"0\" alt=\"habbo changer promo\" id=\"galleryImage\" src=\"http://images.habbohotel.dk/c_images/album1434/habbo_changer_promo.gif\" /\>", links: [
                                                            "<a href=\"http://www.habbo.dk/client\" target=\"client\" onclick=\"openOrFocusHabbo(this); return false;\"\>Tjek ind!</a\>"
                                                            ,
                                                            "<a href=\"http://www.habbo.dk/hotel/furniture/exchange.html\">Exchange</a>"
                                                        ], text: "Habbo Exchange er her! Byt møbler til Habbo Mønter, eller fyld dit rum med guld!"
                                                    },

                                                    {
                                                        image: "<img width=\"425\" height=\"178\" border=\"0\" id=\"galleryImage\" src=\"http://images.habbohotel.dk/c_images/album216/lido_promo.gif\" / alt=\"\"\>", links: [
                                                            "<a href=\"http://www.habbo.dk/client\" target=\"client\" onclick=\"openOrFocusHabbo(this); return false;\"\>Tjek ind</a\>"
                                                            ,
                                                            "<a href=\"/games/\">Habbo Games</a>"
                                                        ], text: "Tør DU tage springet? Vippen er altid åben på Habbo.<br /\>"
                                                    },

                                                    {
                                                        image: "<img width=\"425\" height=\"178\" border=\"0\" alt=\"topstory\" id=\"galleryImage\" src=\"http://images.habbohotel.dk/c_images/album1460/top_stories_anim_litest.gif\" /\>", links: [
                                                            "<a href=\"/home/\">Habbo Homes</a>",
                                                            "<a href=\"/community/tellachum.html\">Tip en ven</a>"
                                                        ], text: "Habbo Homes - Nu med gæstebog!<br /\>\nTip en ven om dit fede Home."
                                                    },

                                                    {
                                                        image: "<img width=\"425\" height=\"178\" border=\"0\" alt=\"TopStories credits\" id=\"galleryImage\" src=\"http://images.habbohotel.dk/c_images/promo_images/TopStories_credits.gif\" /\>", links: [
                                                            "<a href=\"/help/faqs\">FAQ</a>",
                                                            "<a href=\"/help/parents_guide.html\">Til forældre</a>"
                                                        ], text: "Hjælp og Sikkerhed - Lær hvordan du sikrer din Habbo<br /\>"
                                                    }
                                                ];
                                    </script>

                                    <div id="promoarea">
                                        <div id="promoheader">
                                            <h2>Top stories</h2>
                                            <ul style="display: block;" id="promoheader-selectors">
                                                <li><a href="#" class="selected" onclick="showPromo(0); return false;">1</a></li>
                                                <li><a href="#" onclick="showPromo(1); return false;" class="">2</a></li>
                                                <li><a href="#" onclick="showPromo(2); return false;" class="">3</a></li>
                                                <li><a href="#" onclick="showPromo(3); return false;" class="">4</a></li>
                                            </ul>
                                            <script type="text/javascript">
                                                        $('promoheader-selectors').style.display = "block";
                                            </script>
                                        </div>
                                        <div id="promocontent">
                                            <div id="promobody">
                                                <p id="promoimage"><img width="425" height="178" border="0" alt="habbo changer promo" id="galleryImage" src="http://images.habbohotel.dk/c_images/album1434/habbo_changer_promo.gif"></p>
                                                <div class="promotext"><p id="promotext-content">Habbo Exchange er her! Byt møbler til Habbo Mønter, eller fyld dit rum med guld!</p></div>
                                                <div id="promolinks">
                                                    <ul id="promolinks-list"><li><a href="http://www.habbo.dk/client" target="client" onclick="openOrFocusHabbo(this); return false;">Tjek ind!</a></li><li><a href="http://www.habbo.dk/hotel/furniture/exchange.html">Exchange</a></li></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="newsbox">
                                        <div id="newsbox-header">
                                            <h2>Sidste nyt</h2>
                                            <a href="/web/20070307142046/http://www.habbo.dk/news/rss.xml"><img src="~/images/promo_area/feed-icon.gif" alt="" border="0"></a>
                                        </div>
                                        <div id="newsbox-text">
                                            <div class="newsitem">
                                                <h3>
                                                    <span class="articledate">[07-03-06]</span>
                                                    <a href="/web/20070307142046/http://www.habbo.dk/news/win_letters.html">Konkurrence!</a>
                                                </h3>
                                                <p>
                                                    Vind nye bogstaver til Habbo Home!
                                                </p>
                                            </div>
                                            <div class="newsitem">
                                                <h3>
                                                    <span class="articledate">[07-03-06]</span>
                                                    <a href="/web/20070307142046/http://www.habbo.dk/news/update.html">Opdateringer på Habbo</a>
                                                </h3>
                                                <p>
                                                    Læs om de nye ting her!
                                                </p>
                                            </div>
                                            <div class="newsitem">
                                                <h3>
                                                    <span class="articledate">[07-03-05]</span>
                                                    <a href="/web/20070307142046/http://www.habbo.dk/news/win_exchange.html">Vind en sand guldgrube!</a>
                                                </h3>
                                                <p>
                                                    De nye Habbo Exchange ting
                                                </p>
                                            </div>
                                            <div class="hr">&nbsp;</div>
                                            <div class="newsitem oldnewsitem">
                                                <h3>
                                                    <span class="articledate">[07-03-02]</span>
                                                    <a href="/web/20070307142046/http://www.habbo.dk/news/snowstorm_tournament.html">GRATIS SnowStorm Turnering!</a>
                                                </h3>
                                            </div>
                                            <div class="newsitem oldnewsitem">
                                                <h3>
                                                    <span class="articledate">[07-03-01]</span>
                                                    <a href="/web/20070307142046/http://www.habbo.dk/news/cny2007_endsale.html">Sidste chance fredag...</a>
                                                </h3>
                                            </div>
                                        </div>
                                        <div id="newsbox-footer">
                                            <div class="promo-button"><a href="/web/20070307142046/http://www.habbo.dk/news" alt="">Flere Nyheder</a></div>
                                        </div>

                                    </div>

                                </td>
                            </tr>

                            <tr>
                                <td valign="top" style="width: 215px; height: 400px;" class="habboPage-col">
                                    <div class="v2box red light">
                                        <div class="headline"><h3>Velkommen til Habbo</h3></div>
                                        <div class="border"><div></div></div>
                                        <div class="body">

                                            <img border="0" align="left" src="~/c_images/album1282/frank_welcome1.gif" id="galleryImage" alt="">
                                            Habbo er et virtuelt univers, hvor du kan møde nye venner, indrette dit eget hotelværelse, designe din egen hjemmeside og ha' det sjovt!<br><br><strong>Ny på Habbo?<br><br><span style="font-weight: normal;">Hvis dette er dit første besøg på Habbo, så vær ikke nervøs! Det kræver du går igennem tre trin, og så er du igang:<br><br></span></strong><span style="font-weight: bold;">1</span>. <a target="_blank" href="https://web.archive.org/web/20070307142046/http://sdc.shockwave.com/shockwave/download/frameset.fhtml" title="Get Shockwave">Hent Shockwave</a> (Det er gratis)<br><span style="font-weight: bold;">2</span>. <a target="_self" href="https://web.archive.org/web/20070307142046/http://www.habbo.dk/login">Opret din Habbo</a><br><span style="font-weight: bold;">3</span>. Log ind og spil!<br><span style="font-weight: bold;"><br>Hvem kan spille?</span><br><br><img hspace="10" border="0" align="right" src="~/c_images/album923/news_icon_05.gif" alt="warning.gif">Alle fra 13 år eller ældre kan bruge Habbo. Læs venligst vores <a target="_self" href="/web/20070307142046/http://www.habbo.dk/hotel/welcome_to_habbo_hotel/index.html">Velkomstguide</a> eller <a target="_self" href="/web/20070307142046/http://www.habbo.dk/help/parents_guide.html">Forældreguide</a> for at finde ud af mere.
                                            <div class="clear"></div>
                                        </div>
                                        <div class="bottom"><div></div></div>
                                    </div>
                                    <div class="v2box red light">
                                        <div class="headline"><h3>De populæreste møbler...</h3></div>
                                        <div class="border"><div></div></div>
                                        <div class="body">

                                            <p align="center"><img width="63" height="91" border="0" src="/c_images/album98/hc_chair_2.gif" id="galleryImage" alt="hc chair 2"></p>Sidste uges mest købte møbler:<br><ol><li><span style="font-weight: bold;">Trone<br></span></li><li>Hytte Skammel<br></li><li>Mode Z-hylde<br></li><li>Mode Stålbord<br></li><li>Mini-kaktus<br></li></ol>Kejser Lings trone blev modtaget med kyshånd af Habboerne. Mei Lings findeløn var virkelig et hit!<br><br>Læs mere om <a href="/web/20070307142046/http://www.habbo.dk/hotel/furniture/" target="_self">Habbo Møbler</a><br>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="bottom"><div></div></div>
                                    </div>
                                    <div class="v2box red light">
                                        <div class="headline"><h3>Online Sikkerhed</h3></div>
                                        <div class="border"><div></div></div>
                                        <div class="body">

                                            <img width="76" hspace="10" height="64" border="0" align="right" src="/c_images/images/schooldesk_girls.gif" alt="">Habbo Hotel er modereret hele hotellets åbningstid af professionelle moderatorer. Alle samtaler bliver filtreret, således at bandeord, sex og racistiske sætninger ikke forekommer.<br><p>Alle samtaler kan overvåges, således at skulle der opstå problemer kan disse løses. Eventuelle lovbrud vil blive meldt til politiet.<br></p>Du kan læse mere om moderation, brugersikkerhed  and online sikkerhed på vores  <a target="_self" href="/web/20070307142046/http://www.habbo.dk/help/index.html">Hjælp &amp; Sikkerheds</a> sektion.
                                            <div class="clear"></div>
                                        </div>
                                        <div class="bottom"><div></div></div>
                                    </div>
                                </td>
                                <td valign="top" style="width: 215px; height: 400px;" class="habboPage-col">
                                    <div class="v2box green light">
                                        <div class="headline"><h3>Lige nu i kataloget</h3></div>
                                        <div class="border"><div></div></div>
                                        <div class="body">

                                            <p align="center"><img width="23" height="18" border="0" id="galleryImage" src="/c_images/album1774/Rel12_money_1credit.gif" alt=""></p>
                                            <b>NYHED!</b><br>
                                            De nye Habbo Exchange ting kan veksles tilbage til Habbo-mønter, så de er gode at bytte med.<br><br><div id="purchase_1">




                                                <b>Bronze Mønt</b><br>1 Habbo Mønt(er).<br><br>
                                                <span id="purchase_1_purchase"><a href="#" class="colorlink orange"><span>Køb</span></a></span>
                                                <script language="JavaScript">
                                                            var purchaseButton = Builder.node("a", { href: "#", className: "colorlink orange" }, [Builder.node("span", "Køb")]);
                                                            $("purchase_1_purchase").appendChild(purchaseButton);
                                                            Event.observe(purchaseButton, "click", function (e) {
                                                                Event.stop(e);
                                                                var dialog = createDialog("purchase_dialog", "Bekræft køb", 9001, 0, -1000, closePurchase);
                                                                appendDialogBody(dialog, "<p style=\"text-align:center\"><img src=\"http://images.habbohotel.dk/web/web-3.0.1-b15/images/progress.gif\" alt=\"\" width=\"29\" height=\"5\" /></p><div style=\"clear\"></div>", true);
                                                                moveDialogToCenter(dialog);
                                                                showOverlay();
                                                                new Ajax.Request(
                                                                    habboReqPath + "/furnipurchase/purchase_confirmation",
                                                                    {
                                                                        method: "post", parameters: "product=" + encodeURIComponent("a0 CF_1_coin_bronze"), onComplete: function (req, json) {
                                                                            setDialogBody(dialog, req.responseText);
                                                                        }
                                                                    }
                                                                );
                                                            }, false);
                                                </script>
                                                <noscript>
                                                    <form action="/web/20070307142046/http://www.habbo.dk/#purchase_1" method="post">
                                                        <input type="hidden" name="purchase_1_task" value="purchase" />
                                                        <input type="hidden" name="purchase_1_product" value="a0 CF_1_coin_bronze" />
                                                        <input type="submit" value="Køb" class="process-button" />
                                                    </form>
                                                </noscript>


                                            </div>

                                            <br><br><a href="/web/20070307142046/http://www.habbo.dk/hotel/furniture/" target="_self">Læs mere om Habbo Møbler</a><br><a href="/web/20070307142046/http://www.habbo.dk/hotel/furniture/catalogue.html" target="_self">Læs mere om Kataloget</a>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="bottom"><div></div></div>
                                    </div>
                                    <div class="v2box green light">
                                        <div class="headline"><h3>Habbo Spotlight</h3></div>
                                        <div class="border"><div></div></div>
                                        <div class="body">

                                            <table width="100%" border="0" id="table1">
                                                <tbody>
                                                    <tr>
                                                        <td>Nu kan du blive Habbo-kendis - uden at du selv ved det! Hver uge tager vi nye smugfotos og plopper dem herind.<br></td>
                                                        <td>
                                                            <script type="text/javascript">
<!--
                                                                        var images = new Array('/c_images/album2103/1_G.gif');

                                                                        function rndValue(rndRange) {
                                                                            if (Math.random) {
                                                                                return Math.round(Math.random() * (rndRange - 1));
                                                                            } else {
                                                                                var now = new Date();
                                                                                return (now.getTime() / 1000) % rndRange;
                                                                            }
                                                                        }

                                                                        // -->
                                                            </script>

                                                            <script type="text/javascript">
                                                                        var rndElement = rndValue(images.length - 1);

                                                                        document.writeln('<img src="' + images[rndElement] + '" border="0" ' + '/>');</script><img src="~/c_images/album2103/13_G.gif" border="0">




                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br><b>... Så hold øje med denne boks - Måske ser du dig selv næste gang!</b>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="bottom"><div></div></div>
                                    </div>
                                    <div class="v2box green light">
                                        <div class="headline"><h3>Bekræft din e-mailadresse!</h3></div>
                                        <div class="border"><div></div></div>
                                        <div class="body">

                                            <img width="41" height="78" border="0" src="~/c_images/common/thumb_up.gif" id="galleryImage" style="float: right;" alt="">Gør som badefyren her, og bekræft din e-mailadresse. Det er let som ingenting, og du får en masse fordele ud af det!<br><br><a target="_self" href="/web/20070307142046/http://www.habbo.dk/help/emailverification.html">Bekræft din e-mailadresse her!</a>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="bottom"><div></div></div>
                                    </div>
                                    <div class="v2box green light">
                                        <div class="headline"><h3>Kontakt Habbo</h3></div>
                                        <div class="border"><div></div></div>
                                        <div class="body">

                                            Hvis du har et problem eller forslag kan du læse i vores <a href="/web/20070307142046/http://www.habbo.dk/help/faqs/index.html" target="_self">FAQ</a> eller bruge vores <a target="_blank" href="https://web.archive.org/web/20070307142046/http://www.habbohotel.dk/iot/go?lang=da&amp;country=dk">Habbo Hjælpeværktøj</a> til at  emaile os 24 timer i døgnet.
                                            <div class="clear"></div>
                                        </div>
                                        <div class="bottom"><div></div></div>
                                    </div>
                                </td>
                                <td valign="top" style="width: 310px; height: 400px;" class="habboPage-col rightmost">


                                    <div class="v2box blue light">
                                        <div class="headline"><h3>Infobus: Mobning på nettet</h3></div>
                                        <div class="border"><div></div></div>
                                        <div class="body">

                                            <div align="center"><img width="292" height="150" border="0" alt="infobus frontpage" id="galleryImage" src="https://web.archive.org/web/20070307142046im_/http://images.habbohotel.dk/c_images/album216/infobus_frontpage.gif"></div><br>
                                            Kom og chat med Stig, som er Antimobbekonsulent fra "AMOK",<br><b>mandag den 12. marts kl. 14 - 15</b>.<br>
                                            <a href="https://web.archive.org/web/20070307142046/http://www.habbo.dk/community/Live">Læs mere om Infobussen</a>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="bottom"><div></div></div>
                                    </div>
                                    <div class="v2box blue light">
                                        <div class="headline"><h3>Top 5 scores</h3></div>
                                        <div class="border"><div></div></div>
                                        <div class="body">

                                            <b>Månedens 5 bedste SnowStormere</b><br><br>
                                            <div id="scores_3" class="component">


                                                <table class="scores">
                                                    <thead>
                                                        <tr class="scores-header">
                                                            <th class="scores-position"></th>
                                                            <th class="scores-name">Habbo name</th>
                                                            <th class="scores-total">Score</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd">
                                                            <td class="scores-position">1.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/Furni.dk">Furni.dk</a></td>
                                                            <td class="scores-total">2070</td>
                                                        </tr>
                                                        <tr class="even">
                                                            <td class="scores-position">2.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/shvit2">shvit2</a></td>
                                                            <td class="scores-total">1258</td>
                                                        </tr>
                                                        <tr class="odd">
                                                            <td class="scores-position">3.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/04-banq">04-banq</a></td>
                                                            <td class="scores-total">729</td>
                                                        </tr>
                                                        <tr class="even">
                                                            <td class="scores-position">4.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/Miix">Miix</a></td>
                                                            <td class="scores-total">668</td>
                                                        </tr>
                                                        <tr class="odd">
                                                            <td class="scores-position">5.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/Stuart.">Stuart.</a></td>
                                                            <td class="scores-total">637</td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </div><br>
                                            <b>Månedens 5 bedste Battle Ballere</b><br><br>
                                            <div id="scores_4" class="component">


                                                <table class="scores">
                                                    <thead>
                                                        <tr class="scores-header">
                                                            <th class="scores-position"></th>
                                                            <th class="scores-name">Habbo name</th>
                                                            <th class="scores-total">Score</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd">
                                                            <td class="scores-position">1.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/Sseenn">Sseenn</a></td>
                                                            <td class="scores-total">66875</td>
                                                        </tr>
                                                        <tr class="even">
                                                            <td class="scores-position">2.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/sini-k">sini-k</a></td>
                                                            <td class="scores-total">55047</td>
                                                        </tr>
                                                        <tr class="odd">
                                                            <td class="scores-position">3.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/milka">milka</a></td>
                                                            <td class="scores-total">40279</td>
                                                        </tr>
                                                        <tr class="even">
                                                            <td class="scores-position">4.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/Stars-Von-DD">Stars-Von-DD</a></td>
                                                            <td class="scores-total">27978</td>
                                                        </tr>
                                                        <tr class="odd">
                                                            <td class="scores-position">5.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/Hundehale">Hundehale</a></td>
                                                            <td class="scores-total">23182</td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </div><br>
                                            <b>Månedens 5 bedste Wobble Squabblere</b><br><br>
                                            <div id="wobble_scores_5" class="component">


                                                <table class="scores">
                                                    <thead>
                                                        <tr class="scores-header">
                                                            <th class="scores-position"></th>
                                                            <th class="scores-name">Habbo name</th>
                                                            <th class="scores-total">Score</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd">
                                                            <td class="scores-position">1.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/ali-lol">ali-lol</a></td>
                                                            <td class="scores-total">642</td>
                                                        </tr>
                                                        <tr class="even">
                                                            <td class="scores-position">2.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/-MiKo-">-MiKo-</a></td>
                                                            <td class="scores-total">580</td>
                                                        </tr>
                                                        <tr class="odd">
                                                            <td class="scores-position">3.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/Pizza-Boy23">Pizza-Boy23</a></td>
                                                            <td class="scores-total">510</td>
                                                        </tr>
                                                        <tr class="even">
                                                            <td class="scores-position">4.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/sofieth">sofieth</a></td>
                                                            <td class="scores-total">504</td>
                                                        </tr>
                                                        <tr class="odd">
                                                            <td class="scores-position">5.</td>
                                                            <td class="scores-name"><a href="/web/20070307142046/http://www.habbo.dk/home/421222/id">...kat...</a></td>
                                                            <td class="scores-total">504</td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </div><br><a href="/web/20070307142046/http://www.habbo.dk/games/" target="_self">Læs mere om Habbo Games</a>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="bottom"><div></div></div>
                                    </div>
                                    <div class="v2box blue light">
                                        <div class="headline"><h3>Habbo Kalenderen</h3></div>
                                        <div class="border"><div></div></div>
                                        <div class="body">
                                            <!--
                                        <table width="100%" border="0" id="table1"><tbody>
                                        <tr><td bgcolor="#ffffff"><b>Hvad?</b></td><td bgcolor="#ffffff"><b>Hvornår?</b></td>
                                        <td bgcolor="#ffffff"><b>Hvor/Hvem?</b></td></tr>
                                        <tr><td bgcolor="#9dd1e7">Afskedsfest for<br />Ungdomshuset<br /></td>
                                        <td bgcolor="#9dd1e7">16:00<br /></td>
                                        <td bgcolor="#9dd1e7"><span style="font-weight: bold;">Søg:</span><br />punker.mann<br /></td>
                                        </tr>
                                        <tr><td bgcolor="#e6efef">Hygge<br /></td>
                                        <td bgcolor="#e6efef">20:00<br /></td>
                                        <td bgcolor="#e6efef"><span style="font-weight: bold;">Søg:</span><br />JackieNude<br /></td>
                                        </tr>
                                        </tbody></table>/-->
                                            <img width="135" height="116" border="0" src="https://web.archive.org/web/20070307142046im_/http://images.habbohotel.dk/c_images/album109/combo_9.gif" id="galleryImage" alt="combo 9"><br><br>
                                            <b>INGENTING I DAGENS PROGRAM?<br><br><a target="_self" href="/web/20070307142046/http://www.habbo.dk/community/calendar/index.html">SEND DIN HAPPENING IND NU!</a></b><br>
                                            <br><a target="_self" href="/web/20070307142046/http://www.habbo.dk/community/calendar/">Hvad er der ellers på programmet denne uge?</a><br><br><a target="_self" href="/web/20070307142046/http://www.habbo.dk/hotel/welcome_to_habbo_hotel/your_own_room.html">Sådan får du dit eget rum</a>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="bottom"><div></div></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>

                <td rowspan="2" style="width: 4px;"></td>

                <td rowspan="2" valign="top" style=" margin-left: 4px; width: 176px;">
                    <div id="ad_sidebar">
                        <div class="cooperation">
                            <table height="120" width="168" valign="middle" align="center" border="0" cellpadding="0" cellspacing="0" background="http://www.test1.webbanditten.dk/c_images/themes/partner_box.gif">
                                <tbody>
                                    <tr>
                                        <td>
                                            <!--Advertisement Box if as enabled-->

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Advertisement Right if as enabled-->
                        <script type='text/javascript'>
Ads_Right('@Url.Content("~/c_images/album728/ads_habbogroup_bbpromo.gif")', '@Url.Content("~/c_images/album728/")'); Links_Right.push('#'); Links_Right.push('#');</script>
                        <div class="ad-scale ad160">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="ad-header-tl"></td>
                                        <td class="ad-header-t"></td>
                                        <td class="ad-header-tr"></td>
                                    </tr>
                                    <tr>
                                        <td class="ad-header-ml"></td>
                                        <td class="ad-header-m">
                                            <h5><span class="lang-Advertissement_Title">Publicidade</span></h5>
                                        </td>
                                        <td class="ad-header-mr"></td>
                                    </tr>
                                    <tr>
                                        <td class="ad-content-ml"></td>
                                        <td class="ad-content-m" align="center" valign="top">
                                            <a href="#" target="_blank" id="RightLink"><img style="width: 160px; height: 600px;" alt="" src="#" id="RightImage"></a>
                                        </td>
                                        <td class="ad-content-mr"></td>
                                    </tr>
                                    <tr>
                                        <td class="ad-content-bl"></td>
                                        <td class="ad-content-b"></td>
                                        <td class="ad-content-br"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </td>
            </tr>

        </tbody>
    </table>