@model KeplerCMS.Areas.Housekeeping.Models.Views.MessengerCampaign

@if (ViewData["message"] != null)
{
    <div class="message">
        @ViewData["message"]
    </div>
}

<div class="card">
    <div class="card-header">
        <h4 class="text-uppercase">Manage the catalogue</h4>
    </div>
    <div class="card-body">
        Something
    </div>
</div>
