<td style="width: 8px;"></td>
<td valign="top" style="width: 280px;" class="habboPage-col">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <div class="v3box yellow">
                    <div class="v3box-top">
                        <h3>@DbRes.T("info_1_title", "profile")</h3>
                    </div>
                    <div class="v3box-content">
                        <div class="v3box-body">
                            @Html.Raw(DbRes.T("info_1", "profile"))
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="v3box-bottom">
                        <div></div>
                    </div>
                </div>
                <div class="v3box yellow">
                    <div class="v3box-top">
                        <h3>@DbRes.T("info_2_title", "profile")</h3>
                    </div>
                    <div class="v3box-content">
                        <div class="v3box-body">

                            @Html.Raw(DbRes.T("info_2", "profile"))
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="v3box-bottom">
                        <div></div>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</td>