<td valign="top" style="width: 202px;" class="habboPage-col">
    <div id="top-3rd-level"></div>
    <div id="content-3rd-level">

        <ul id="third-level-navi">

            <li class="active">
                Habbo Fansites
            </li>


            <li class="inactive">
                <a href="/web/20070321072402/http://www.habbo.dk/community/fansites/how_to_set_up_a_fansite.html">Sådan laver du et Fansite</a>
            </li>

        </ul>
        <div class="clear"></div>
    </div>
    <div id="bottom-3rd-level"></div>
    <div class="portlet-scale gold">
        <div class="portlet-scale-header"><h3>Habbo Mønter</h3></div>
        <div class="portlet-scale-body">
            <div class="portlet-scale-content">

                <img align="right" src="https://web.archive.org/web/20070321072402im_/http://community.habbohotel.jp/content/images/mgm_icon.gif" alt="">Habbo Mønter giver dig mulighed for at købe Habbo <a target="_self" href="/web/20070321072402/http://www.habbo.dk/hotel/furniture/index.html">Møbler</a>, købe gaver til dine venner, eller melde dig ind i <a target="_self" href="/web/20070321072402/http://www.habbo.dk/club/index.html">Habbo Club</a> Spille <a target="_self" href="/web/20070321072402/http://www.habbo.dk/games/battle_ball/index.html">Battle Ball</a> og meget mere! <p>
                </p><div class="clear"></div>
            </div>
        </div>
        <div class="portlet-scale-bottom">
            <div class="portlet-scale-bottom-body"></div>
        </div>
    </div>
    <div class="portlet-scale gold">
        <div class="portlet-scale-header"><h3>Habbo Møbler</h3></div>
        <div class="portlet-scale-body">
            <div class="portlet-scale-content">

                <p><img width="36" height="36" border="0" align="right" src="https://web.archive.org/web/20070321072402im_/http://images.habbohotel.dk/c_images/album923/news_icon_01.gif" id="galleryImage" alt=""><a href="/web/20070321072402/http://www.habbo.dk/hotel/furniture/index.html" target="_self">Habbo Møbler</a> kan bruges til at indrette dine rum, Du kan lave labyrinthher, spil, forsvundne byer, og KÆMPE toiletter.</p><p>Kig i vores online <a target="_self" href="https://web.archive.org/web/20070321072402/http://www.habbo.dk/hotel/furniture/index.html">Katalog</a> og find ud af alt hvad der er at vide om Habbo Møbler.</p>

                <div class="clear"></div>
            </div>
        </div>
        <div class="portlet-scale-bottom">
            <div class="portlet-scale-bottom-body"></div>
        </div>
    </div>
</td>